.logo{
    width: 10em;
    padding-left: 39%;
    padding-right: 39%;
}

.loginText{
    color: black;
    margin-left: 40%;
}

.welcomeText{
    color:black;
    margin-left: 39%;

}

.register-button{
    margin-left: 20%;
    width: 15em;
}

.forgotPassword{
    color:black;
}

.dontHave{
    color:black;
}