
.loginText{
    color: black;
text-align: center;}

.welcomeText{
    color:black;
    text-align: center;

}

.login-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15vh;
}

.forgotPassword{
    text-align: center;
    color:black;
}

.dontHave{
    color:black;
    text-align: center;}