
.loginText{
    color: black;
    margin-left: 40%;
}

.welcomeText{
    color:black;
    margin-left: 39%;

}

.login-button{
    margin-left: 37%;
    width: 15vh;
}

.forgotPassword{
    margin-left: 32%;
    color:black;
}

.dontHave{
    color:black;
    margin-left: 32%;
}