.communityCard{
   display: flex;
   flex-direction: column;
   width: 80vh !important;
   background: grey;
   height: 500px;
}

.communityIcon {
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 50vh;
text-align: center;

}

.communitiesList{
    margin-left: 100px;
}